{{> head_auth}}

<body>
    {{{ body }}}
    {{!-- {{> footer }} --}}
</body>

</html>
<script>

    setInterval(async () => {
        await fetch('/keep-session-alive');
    }, 5 * 60 * 1000); 
</script>