</div>
</header>
<style>
    .wrapper {
        display: block;
        max-width: 400px;
        margin: 0 auto;
    }

    .wrapper>div {
        font-size: 18px;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .wrapper_menu_item_link {
        display: inline-block;
        padding: 55px 20px;
        color: white;
        border-bottom: 1px solid #234f83;
        background-color: #2e609a;
        width: 100%;
        border-radius: 3px;
    }

    .wrapper_menu_item_link:hover {
        color: white;
        background-color: #4378b6;
    }
</style>


<main>
    <div class="wrapper">
        <div class="wrapper_menu_item">
            <a href="/admin/methodist/statistic" class="wrapper_menu_item_link">Статистика/Аналитика</a>
        </div>
        <div class="wrapper_menu_item">
            <a href="/admin/methodist/list" class="wrapper_menu_item_link">Менеджер методистов</a>
        </div>
    </div>
</main>