
            <nav class="second_nav_admin">
                <ul class="second_nav__items">
                    <li class="second_nav__item"><a href="/admin/add_new_cabinet/" class="second_nav__link">Создать личный кабинет</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h2> Список пользователей </h2>
        {{#if error}}
            <p> {{ error}}</p>
        {{/if}}
         {{#if notice}}
            <p> {{ notice}}</p>
        {{/if}}
     
    </main>


   



    
