<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:700|Istok+Web:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/scss/style.css">
    <link rel="shortcut icon" href="../img/letter-t.png" type="image/png">
    <title>TALLAM | информационно-аналитическая платформа</title>

</head>
<body>
    <header class="header">
        <div class="header_top">
            <div class="logo">
                <a href="./cabinet.html" class="logo__tallam">Tallam</a>
                <h2 class="header__institution" id="header__institution">МБОУ "СОШ №7"</h2>
            </div>
            <a href="#" class="menu_btn" id="menu_btn">
                <span></span>
            </a>
            <!-- <h1 class="header__heading">Проекты</h1> -->
            <nav class="main_nav" id="main_nav">
                <ul class="main_nav__items">
                <li class="main_nav__item"><a href="./projects.html" class="main_nav__link">Проекты</a></li>
                    <li class="main_nav__item"><a href="#" class="main_nav__link main_nav__link--log_out">Выйти</a></li>
                </ul>
            </nav>
            <nav class="second_nav">
                <ul class="second_nav__items">
                    <li class="second_nav__item"><a href="./global_list.html" class="second_nav__link">Список работников</a></li>
                    <li class="second_nav__item"><a href="./global_add.html" class="second_nav__link">Добавить учителя</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="blue-line"></div>      
        <h1>Список учителей, участвующих в проекте <br class="br-heading">“Оценка качества урока”</h1>   
        <section class="table_section">
            <table class="teacher_table">
                <thead>
                    <tr class="teacher_table__row teacher_table__row--thead">
                        <th class="teacher_table__col teacher_table__col--thead">№</th>
                        <th class="teacher_table__col teacher_table__col--thead">ФИО (учителя)</th>
                        <th class="teacher_table__col teacher_table__col--thead">Должность</th>
                        <th class="teacher_table__col teacher_table__col--thead">Действие</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="teacher_table__row">
                        <td class="teacher_table__col">1</td>
                        <td class="teacher_table__col">Иванов Иван Иванович</td>
                        <td class="teacher_table__col">математик</td>
                        <td class="teacher_table__col">
                            <a href="#" class="rate_button button">Просмотреть</a>
                            <a href="#" class="edit_button button">Оценить</a>
                        </td>
                    </tr>
                    <tr class="teacher_table__row">
                            <td class="teacher_table__col">2</td>
                            <td class="teacher_table__col">Иванов Иван Иванович</td>
                            <td class="teacher_table__col">математик</td>
                            <td class="teacher_table__col">
                                <a href="#" class="rate_button button">Просмотреть</a>
                                <a href="#" class="edit_button button">Оценить</a>
                            </td>
                        </tr>
                </tbody>  
            </table>
        </section>  
    </main>

    <footer class="footer">
        <div class="support">
            <div class="support__contact_developers">
                <a href="#" class="support__link">Связаться с разработчиками</a>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="../js/script.js"></script>
</body>
</html>