{{!-- <nav class="second_nav">
                <ul class="second_nav__items">
                    <li class="second_nav__item"><a href="/admin/add_new_school" class="second_nav__link">Добавить в список ОО</a></li>
                </ul>
            </nav> --}}
</div>
</header>

<style>
    .wrapper-body {
        width: 100%;
    }
</style>
<main>


    <!-- TABLE FOR STAFF -->
    <div class="wrapper-body">
        <h2>Список доступных фильтров</h2>
        <ul>
            <li>
                <a href="/admin/methodist/statistic/form2">Форма № 2 Статистика о пользовательской активности методистов
                    по районам (цифры) - по
                    календарным периодам</a>
            </li>
            {{!-- <li>
                <a href="">Форма № 2 Статистика о пользовательской активности методистов по районам (цифры) - по
                    календарным периодам</a>
            </li> --}}

        </ul>




    </div>



</main>